* {
    box-sizing: border-box;
}

html, body {
    font-family: Asap, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    max-height: 100%;
  }

.page {
    background-color: white;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    width: 100%;
}

.block_left {
    display: flex;
    width: 100%;
    background-image: url("img/box_left.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
}

.block_right {
    display: grid;
    grid-template-rows: 1fr 30px;
    width: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: flex-end;
    background-image: linear-gradient(rgb(216, 216, 216), rgb(219, 218, 218));
    
}

.block_contact {
    display: flex;
    font-family: 'Lato', sans-serif;
    background-color: rgb(77, 111, 111);
    width: 100%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
}

.block_contact > p {
    color: white;
    margin: 0;
}




.block_about {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px 0;
}

.block_info {
    display: grid;
    grid-template-rows: 20% 60% 20%;
    justify-items: stretch;
    align-items: center; 
    padding: 2% 10%;
    width: 100%;
    height: 100%;
    text-align: left;

}

.block_info h1 {

}

p.company_name {
    font-weight: 100;
    font-size: 48px;
    padding: 0;
    margin: 0;
}

.sub_heading {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 10px 0;
    font-size: 24px;
}




.title {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: end;
    height: 100%;
}


.company_name::after {
    content: "";
    display: block;
    background-color: rgb(81, 111, 111);
    height: 5px;
    width: 100%;
    margin-top: -1.4rem;
}

.font_roboto {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.font_lato {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}


.grid {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;

    

}

.offer_item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 140px;
    width: 100%;

    text-align: center;
 

    transition: all 0.4s ease-in-out;
    z-index: 10;
    position: relative;

}


.offer_item::before {
    position: absolute;
    display: block;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: -1;
    content: " ";
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(81, 111, 111), rgb(72, 99, 99));
    transition: opacity 0.4s ease-in-out;
  }
.offer_item:hover::before{
    opacity: 1;
  }
.offer_item:hover {
      color: white;
    }

.offer_item p {
    font-size: 10px;
}

.offer_item i {
    font-size: 3.5rem;
}

.partners {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: end;
    align-items: center;
    padding: 20px 0;
}


.partners_images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.partners h4 {
    padding-bottom: 40px;
}

.partner_1 {
    width: 30%;
    background-image: url("img/partner_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.partner_2 {
    width: 30%;
    background-image: url("img/partner_2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.partner_3 {
    width: 30%;
    object-fit: contain;
    background-image: url("img/partner_3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.small_contact {
    display: none;
}

.no_margin {
    margin: 0;
}
@media only screen and (max-width: 1024px) {
    .block_info {
        grid-template-rows: 130px  1fr 150px;
    } 
}

@media only screen and (max-width: 800px) {
    .page {
        grid-template-columns: 100%;
        grid-template-rows: 100px 1fr;

    }

}

@media only screen and (max-width: 500px) {
    .block_info {
        padding: 5px 10px;
    }
    .grid {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .big_contact {
        display: none;
    }

    .small_contact {
        display: block;
    }
    .offer_item {
        height: 100px;
    }
    .offer_item p {
        font-size: 12px;
    }

    .block_about {
        padding-bottom: 0;
    }
    
    .offer_item i {
        font-size: 3.5rem;
    }
}